/* 3) Se crea el estilo del div del mapa */

html{
  height: 100%;
  width: 100%;
}

#map {
  height: 90%;
  width: 90%;
  margin: auto ;
  border: 3px solid green;
  padding: 10px;
}

p {
  color: blue;
}

h1 {
  color:black;
  font-family:fantasy
}


